/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "mixin", "variables";


// @import "normalize";
@import "compass/reset";
@import "compass/css3";
@import "compass/support";
@import "compass/typography/links";
@import "compass/typography/lists";
@import "compass/typography/text";
@import "compass/typography/vertical_rhythm";

@debug browsers();
$supported-browsers: chrome ie firefox;
$browsers-minimum-versions: ("ie": "8");

.webdemo-sec {
	position: relative;
	width: 100px;
	top: 10px;
	@include box-shadow(1px 1px 3px 2px #cfcecf);
}

.btn {
	margin-top: 20px;
	@include appearance("button");
}

div {
	@include box-sizing(border-box);
}

a {
	// @include hover-link();
	// @include link-colors(#00c, #0cc, #c0c, #ccc, #cc0);
	@include unstyled-link();
}

.list-unstyled {
	@include no-bullets();
}
.list-unstyled-li {
	@include no-bullet();
}

.list-inline {
	@include inline-list();	
}

.list-horizontal {
	@include horizontal-list(10px, right);	
	//@include horizontal-list(false, right);	
}

.list-inline-block {
	@include inline-block-list();
}

.text-force-wrap {
	@include force-wrap();
}

.container {
	width: 100px;
}

.text-nowrap {
	@include nowrap();
}

$use-mozilla-ellipsis-binding: true;
.text-ellipsis {
	@include ellipsis();
}

.text-hide {
	// @include hide-text();
	@include squish-text();
}
.btn-find {
	@include replace-text("http://cdn.qq.com/find-btn.png");
}

$base-font-size: 16px;
$base-line-height: 24px;
@include establish-baseline();
body {
	@include debug-vertical-alignment();
}

h1 {
	@include adjust-font-size-to(48px);
}

h2 {
	@include adjust-font-size-to(36px);
}

h3 {
	@include adjust-font-size-to(24px);
}

h4 {
	@include adjust-font-size-to(21px);
}

h5 {
	@include adjust-font-size-to(18px);
}

h6 {
	@include adjust-font-size-to(16px);
}

p {
	@include adjust-font-size-to(14px);
	@include leader();
	@include trailer();
}

.analyzer-logo {
	// background-image: inline-image("analyzer.png")
	background-image: image-url("analyzer.png");
}

