/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "mixin", "variables";


@import "normalize";
@import "compass/css3";
@import "compass/support";

@debug browsers();
$supported-browsers: chrome ie firefox;
$browsers-minimum-versions: ("ie": "8");

.webdemo-sec {
	position: relative;
	width: 100px;
	top: 10px;
	@include box-shadow(1px 1px 3px 2px #cfcecf);
}

.btn {
	margin-top: 20px;
	@include appearance("button");
}

div {
	@include box-sizing(border-box);
}
